DATABASE_URL=postgres://postgres:password@127.0.0.1:5432/your-database-name
PAYLOAD_SECRET=YOUR_SECRET_HERE
NEXT_PUBLIC_PAYLOAD_URL=https://your.ip.here
SMTP_HOST=smtp.host
SMTP_PORT=465
SMTP_USER=username
SMTP_PASS=password
YOOKASSA_SHOP_ID=1000000
YOOKASSA_SECRET_KEY=test_yourkey
TELEGRAM_BOT_TOKEN=bot_token
TELEGRAM_CHAT_ID=chat_id